//Screen's width
$mobileW: 360px;
$tableW: 820px;
$desktopW: 1420px;
$viewportD: 1460px;
$pad: 20px;

$grey-darker: #464646;
$grey-medium: #787878;
$grey-light: #D6D6D6;

// Base variable
$accent: #B51F24;
$textcolor: #000000;
$lineheight: 1.5;
$fontsize: 24px;
$userfont: 'Poppins', sans-serif;
$secondFont: 'Forum', sans-serif;
$fontweight: 300;
$trans: 0.7s ease;